DATABASE_URL="postgresql://postgres.riyniabduztusgrnodws:EOh%5EEyY2FVO1VlP%269li9%26BG1p%26%24%269mGp@aws-1-eu-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.riyniabduztusgrnodws:EOh%5EEyY2FVO1VlP%269li9%26BG1p%26%24%269mGp@aws-1-eu-west-2.pooler.supabase.com:5432/postgres"
GAME_SECRET="a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
ADMIN_PASSWORD="hackathon-admin-2026"
